@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;700;800&display=swap");

.hover-line {
  background: linear-gradient(#1095c1 0 0) var(--p, 0) 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

.hover-line:hover {
  --d: 100%;
  --p: 100%;
}

html {
  scroll-behavior: smooth;
}

li .overlay {
  opacity: 0;
}

li:hover .overlay {
  opacity: 1;
}

.face-hidden {
  backface-visibility: hidden;
}

.face-visible {
  backface-visibility: visible;
}

.preserve-3d {
  transform-style: preserve-3d;
  transform-perspective: 1000px;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.-rotate-x-180 {
  transform: rotateX(-180deg);
}

.-rotate-y-180 {
  transform: rotateY(-180deg);
}

.hover\:rotate-x-180:hover {
  transform: rotateX(180deg);
}

.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}

.hover\:-rotate-x-180:hover {
  transform: rotateX(-180deg);
}

.hover\:-rotate-y-180:hover {
  transform: rotateY(-180deg);
}

.child\:hover\:rotate-x-180:first-child:hover {
  transform: rotateX(180deg);
}

.child\:hover\:rotate-y-180:first-child:hover {
  transform: rotateY(180deg);
}

.child\:.hover\:-rotate-x-180:first-child:hover {
  transform: rotateX(-180deg);
}

.child\:.hover\:-rotate-y-180:first-child:hover {
  transform: rotateY(-180deg);
}
