@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;700;800&display=swap");

.hover-line {
  background: linear-gradient(#1095c1 0 0) var(--p, 0) 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}

.hover-line:hover {
  --d: 100%;
  --p: 100%;
}

li .overlay {
  opacity: 0;
}

li:hover  .overlay {
  opacity: 1;
}
